.orderNow {
    background-color: #fff;
    padding: 70px 0px;

    .samples {
        justify-content: center;
        gap: 20px;

        .drink {
            margin: 0px;
            padding: 0px;
            width: 20%;

            .img {
                position: relative;
                cursor: pointer;
                transition: all .1s ease-in-out;

                span {
                    position: absolute;
                    width: 25%;
                    bottom: 0;
                    right: 0;
                    background-color: #00000069;
                    color: #fff;
                    font-family: bold;
                    padding: 5px;
                    z-index: 1;
                }

                img {
                    transition: all .1s ease-in;
                }
            }

            .info {
                padding: 20px;
                box-shadow: 0px 1px 5px #7c7a7a;

                h5 {
                    text-transform: uppercase !important;
                    font-family: bold;
                    color: #000;
                }

                p {
                    color: gray;
                }

                .btn {

                    padding: 10px 15px;
                    border-radius: 0px;
                    background-color: #fd8f00;
                    color: #fff;
                    text-transform: uppercase !important;
                    font-family: bold;
                    letter-spacing: 1px;

                    &:hover {
                        background-color: #303030;
                        color: #fff;
                    }
                }
            }

            &:hover {
                box-shadow: 0px 10px 40px 0px #7c7a7a;

                .img {

                    img {
                        filter: contrast(50%);
                    }
                }

                .info {
                    box-shadow: 0px 10px 40px 5px #7c7a7a;

                }

            }
        }
    }
}

/* }responsive */
@media screen and (max-width:992px) {
    .orderNow {
        .samples {
            .drink {
                width: 40%;
            }
        }
    }
}