.fromBlog {
    background-color: #fff;
    padding: 50px 0px;

    .head {
        text-align: center;
        font-family: bold;
        margin-bottom: 30px;

        h2 {
            text-transform: uppercase !important;
        }
    }

    .posts {
        justify-content: center;
        align-items: center;
        gap: 10px;

        .post {
            outline: 1px solid #000;
            cursor: pointer;
            width: 30%;

            .postInfo {
                margin: 10px 0px;
                font-family: regular;
                text-align: start;
                color: gray;

                h4 {
                    font-family: regular;
                    text-transform: uppercase !important;
                    color: #000;
                }

                p {
                    strong {
                        color: #fd8f00;
                    }

                    i {
                        margin-inline-end: 3px;
                    }
                }
            }

            &:hover {
                outline: 1px solid #fd8f00;
                box-shadow: 0 0 10px #fd8f00;
                border-radius: 5px;
            }
        }
    }
}


/* responsive */
@media screen and (max-width: 576px) {
    .fromBlog {
        .posts {
            .post {
                width: 80%;
            }
        }
    }
}