.HomeSlider {
    height: 100vh;
    background-color: #dbd9d9;

    .slide {
        .caption {
            position: absolute;
            top: 30%;

            i {
                font-size: 100px;
                margin-bottom: 30px;
            }

            h5 {
                text-transform: uppercase !important;
                letter-spacing: 5px;
            }

            h1 {
                text-transform: uppercase !important;
                letter-spacing: 5px;
            }

            img {
                margin-top: 20px;
                width: 10%;
            }

        }
    }
}

/* responsive */
@media screen and (max-width: 992px) {
    .HomeSlider {
        display: none;
    }
}